.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho_menu {
    display: flex;
    gap: 80px;
}

.cabecalho_menu_link {
font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 24px;
font-weight: 600;
color: #E06995;
text-decoration: none;
}



.rodape {
    padding: 24px;
    color: #36242B;
    background-color: #B6748C;
    text-align: center;
    font-family: 'Krona One', sans-serif;
    font-size: 16px;
    font-weight: 400;
}